body, html {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    background-color: var(--dark-theme-bblack);
    font-family: "neuropol-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}