:root {
    // --------------------------------
    // Dark Theme
    // --------------------------------

    --dark-theme-red: rgba(184, 43, 0, 1);
    --dark-theme-bblack: rgba(6, 25, 36, 1);
    --dark-theme-cyan: rgba(26, 192, 245, 1);
    --dark-theme-purple: rgba(107, 0, 153, 1);
    --dark-theme-grey: rgba(147, 168, 172, 1);
}