.Navigation-Wrapper{
    margin-top: 4px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    max-width: 100%;
    margin: 0px;
    background-color: var(--dark-theme-bblack);
    background-color: rgba(1,1,1,0.6);
    border-radius:0px 0px 20px 20px;
}